.items-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 96px);
    column-gap: 7px;
    row-gap: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    background-color: var(--transparent-black);
}

.inventory-title {
    margin-bottom: 20px;
}

.item-cell {
    display: flex;
    width: 96px;
    height: 96px;
    background-color: var(--color-steam);
    border-radius: 2px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.item-cell:hover {
    background-color: var(--transparent-black);
    cursor: pointer;
}

.item-cell:hover img {
    transform: scale(1.2);
}

.item-cell:active {
    background-color: #005ba1;
}

.item-cell img {
    align-self: center;
    max-width: 100%;
    transition: all 0.2s ease-in;
}

.item-cell span {
    position: relative;
    color: lightgray;
    font-weight: bold;
    font-size: 0.8em;
    text-align: right;
    min-width: 100%;
    transform: translate(-100%, 0);
}

.btn-csgo {
    padding: 10px;
    font-size: 1.4em;
    width: 100%;
}

.buttons-inventory-wrapper {
    /* vertical-align: middle;
    text-align: right; */

    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;

    height: 40px;
}

.buttons-inventory-wrapper .btn {
    padding: 10px 12px;
}

.buttons-inventory-wrapper span {
    height: 100%;
    padding: 10px;
    color: white;
    background-color: var(--color-green);
}

.buttons-inventory-wrapper .btn:first-child {
    margin-left: 0px;
}

.page-numbers-wrapper {
    display: inline-block;
}