.input-steam-id {    
    border-radius: 2px;
    border: none;
    padding: 10px;
    color: lightgray;
    background-color: rgb(0, 0, 0, 0.2);
    outline: solid 1px rgb(100, 100, 100);
}

.input-steam-id:focus {
    outline: solid 2px #0390fc;
}