.loading {
    background-image: url("../assets/images/loading-200px.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    display: block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
