@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), 
    url("./fonts/Roboto-Regular.ttf") format('truetype')
} 

:root {
  --color-green: rgb(0, 161, 91, 0.7);
  --color-green-hover: rgb(0, 161, 91, 1);
  --color-blue: rgb(0, 91, 161, 0.7);
  --color-blue-hover: rgb(0, 91, 161, 1);
  --color-red: rgb(190, 0, 0);
  --almost-black: rgba(0, 0, 0, .9);
  --transparent-black: rgba(0, 0, 0, .5);
  --color-steam: #171a21;
  --bg-gradient: linear-gradient(90deg, rgba(23,26,33,1) 0%, rgba(27,40,56,1) 50%, rgba(23,26,33,1) 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body, .root {
  min-height: 100vh;
}

body {
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--color-steam);
}

.clean-a {
  cursor: pointer;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
}

.attribute-wrapper {
  border-radius: 2px;
  font-weight: 200;
  overflow: hidden;
}

.attribute-wrapper > div {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgray;
}

.attribute-wrapper div:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgb(0, 91, 161);
}

.attribute-wrapper span {
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
  padding: 6px;
  font-weight: 500;
}

.attribute-wrapper strong {
  color: white;
  font-weight: 500;
  margin-left: 5px;
}

.mt-12 {
  margin-top: 12px;
}

.ml-12 {
  margin-left: 12px;
}

h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0;
  color: lightgray;
  font-weight: 500;
}

img {
  border-radius: 2px;
}

hr {
  border-color: lightgray;
  background-color: lightgray;
  color: lightgray;
}

@media (min-width: 700px) {
  .container {
    width: 650px;
  }
}
